*{
  font-family: 'SimHei';
}
.sidebar {
    position: fixed;
    top: 32px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ddd;
    border-right: 1px solid #eee;
}
a#brand{
  color: #ddd ;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li{
    width: 100%;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 60px;
}

.main .page-header {
    margin-top: 0;
}
.mypage-input-group{
    width: 40%;
    margin: 10px;
}
/*thead th,tbody td{
    text-align: center;
}*/
.item_active{
    background-color:#eee;
}